<div class="container">
	<table class="chess">
		<tr ng-repeat="row in chessBoard.board track by $index">
			<td ng-repeat="slot in row track by $index" ng-click="selectPiece($index, $parent.$index)"
				ng-class="{'selectable' : !gameOver && chessBoard.isMovable($index, $parent.$index), 'bg-white': ($parent.$index + $index) % 2 !== 0, 'bg-black': ($parent.$index + $index) % 2 === 0}">
					<img class="piece" ng-src="{{piece.getCssName(chessBoard.board[$parent.$index][$index]) + '.png'}}"/>
			</td>
		</tr>
	</table>
		
	<!--<div class="pieces">
		<h4>Black pieces left</h4>
		<span class="piece small" ng-class="piece.getCssName(p)" ng-repeat="p in blackPieces track by $index"></span>				
		<h4>White pieces left</h4>
		<span class="piece small" ng-class="piece.getCssName(p)" ng-repeat="p in whitePieces track by $index"></span>
		<p ng-if="gameOver">{{chessOverText}}</p>
	</div>-->
</div>