<div class="container">

	<div class="settings left">
		<div class="togglePlayer" ng-click="togglePlayer(true)">
			<img class="whitePlayer" src="human.png" ng-hide="settings.isWhiteComputer()" />
			<img class="whitePlayer" src="computer.png" ng-show="settings.isWhiteComputer()" />
		</div>
		<div class="ai-settings" ng-show="settings.isWhiteComputer()">
			<label for="depth-white">Thinking depth</label>
			<input type="range" min="1" max="4" ng-model="difficultyWhite.depth" id="depth-white">
			<br />
			<label for="width-white">Moves to evaluate</label>
			<input type="range" min="10" max="50" ng-model="difficultyWhite.width" id="width-white">
			<div class="personalities" ng-model="selectedWhite">
				<h4>Personality</h4>
				<img class="personality" ng-repeat="personality in personalityNames" ng-src="{{personality + '.png'}}"
					ng-click="selectedWhite = selectedWhite === personality ? undefined : personality; selectPersonality(true, selectedWhite)" 
					ng-class="{'personality-selected': selectedWhite === personality}"/>
			</div>
		</div>
	</div>
	
	<div class="settings-center">
		<img class="start touchable" src="start.png" ng-click="start()"/>
	</div>
	
	<div class="settings right">
		<div class="togglePlayer" ng-click="togglePlayer(false)">
			<img class="blackPlayer" src="human.png" ng-hide="settings.isBlackComputer()" />
			<img class="blackPlayer" src="computer.png" ng-show="settings.isBlackComputer()" />
		</div>
		<div class="ai-settings" ng-show="settings.isBlackComputer()">
			<label for="depth-black">Thinking depth</label>
			<input type="range" min="1" max="4" ng-model="difficultyBlack.depth" id="depth-black">	
			<br />
			<label for="width-black">Moves to evaluate</label>
			<input type="range" min="10" max="50" ng-model="difficultyBlack.width" id="width-black">
			<div class="personalities" ng-model="selectedBlack">
				<h4>Personality</h4>
				<img class="personality" ng-repeat="personality in personalityNames" ng-src="{{personality + '.png'}}"
					ng-click="selectedBlack = selectedBlack === personality ? undefined : personality; selectPersonality(false, selectedBlack)" 
					ng-class="{'personality-selected': selectedBlack === personality}"/>
			</div>
		</div>
	</div>
	
</div>