body {
    background-color: rgb(248, 196, 154);
	background: -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(248, 196, 154));
    background: -o-linear-gradient(left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(248, 196, 154));
    background: -moz-linear-gradient(left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(248, 196, 154));
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(248, 196, 154));
}

.chess {
	position: relative;
	border: 5px solid;
    border-radius: 12px; 
	border-color: rgb(168, 116,74);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bg-white {
	background-color: white;
	background: -webkit-linear-gradient(right, rgb(255, 255, 255), rgb(225, 225, 225), rgb(255, 255, 255));
    background: -o-linear-gradient(right, rgb(255, 255, 255), rgb(225, 225, 225), rgb(255, 255, 255));
    background: -moz-linear-gradient(right, rgb(255, 255, 255), rgb(225, 225, 225), rgb(255, 255, 255));
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(225, 225, 225), rgb(255, 255, 255));
}

.bg-black {
	background-color: black;
	background: -webkit-linear-gradient(right, rgb(0, 0, 0), rgb(15, 15, 15), rgb(0, 0, 0));
    background: -o-linear-gradient(right, rgb(0, 0, 0), rgb(15, 15, 15), rgb(0, 0, 0));
    background: -moz-linear-gradient(right, rgb(0, 0, 0), rgb(15, 15, 15), rgb(0, 0, 0));
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(15, 15, 15), rgb(0, 0, 0));
}

.selectable {
	background-color: yellow;
	background: -webkit-linear-gradient(right, rgb(255, 255, 0), rgb(245, 215, 0), rgb(255, 255, 0));
    background: -o-linear-gradient(right, rgb(255, 255, 0), rgb(245, 215, 0), rgb(255, 255, 0));
    background: -moz-linear-gradient(right, rgb(255, 255, 0), rgb(245, 215, 0), rgb(255, 255, 0));
    background: linear-gradient(to right, rgb(255, 255, 0), rgb(245, 215, 0), rgb(255, 255, 0));
	cursor: pointer;
}

.settings {
	border-radius: 12px;
	border-color: rgb(168, 116,74);
	border: 5px solid;
	float: left;
}

.left {
	width: 35%;
	left: 5px;
	text-align: left;
	padding-right: 5px;
}

.settings-center {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 25px;
}

.right {
	text-align: right;
	width: 35%;
	right: 5px;
	padding-left: 5px;
}

.blackPlayer {
	-webkit-filter: brightness(0);
	filter: brightness(0);
	cursor: pointer;
}

.whitePlayer {
	cursor: pointer;
}

.piece {
	display: table-cell;
}

img {
	max-width: 95%;
	width: 95%;
	text-align: center;
}

.ai-settings {
	padding: 10px;
	text-align: right;
}

.ai-settings label {
	display: inline-block;
	width: 140px;
	text-align: right;
}

.end {
	text-align: center;
	position: absolute;
	top: 15px;
	max-width: 40%;
	left: 50%;
	font-size: 30px;
	font-weight: bold;
	color: burlywood;
}

.end-inner {
	position: relative;
	left: -50%;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px grey;
}

.restart, .settings-image {
	cursor: pointer;
	width: 150px;
}

.chess-over {
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	-o-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: 2s -webkit-filter linear;
	-moz-transition: 2s -moz-filter linear;
	-o-transition: 2s -o-filter linear;
	transition: 2s filter linear;
	transition: 2s -webkit-filter linear;
}

.touchable {
	cursor: pointer;
}

.wait {
	cursor: wait;
}

.personalities {
	padding: 3px;
}

.personality {
	display: inline-block;
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	-o-filter: sepia(100%);
	filter: sepia(100%);
	border-radius: 3px;
	border-color: rgb(168, 116,74);
	border: 3px solid;
	width: 15%;
	padding: 1px;
	cursor: pointer;
}

.personality-selected { 
	-webkit-filter: sepia(0%);
	-moz-filter: sepia(0%);
	-o-filter: sepia(0%);
	filter: sepia(0%);
	-webkit-transition: 1s -webkit-filter linear;
	-moz-transition: 1s -moz-filter linear;
	-o-transition: 1s -o-filter linear;
	transition: 1s filter linear;
	transition: 1s -webkit-filter linear;
}